<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <div>
        {% block database_swiftmailer_content %}
        {% endblock database_swiftmailer_content %}
    </div>
</body>
</html>